body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    padding: 40px;
}

/* Tombol */
button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    background-color: #ffbf00;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #e0a800;
}

/* Tema Dark Mode */
.dark-mode {
    background-color: #222;
    color: white;
}

#greeting {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
